body {
  background-image: url("https://i.pinimg.com/originals/37/92/6b/37926bce6c4afda728d5011c3ee9ea0a.jpg");
  background-repeat: repeat;
}

.main{
font-size: 100px; 
color: white;
text-align: center;
}

.linkText{
  font-size: 50px;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}

.one{
font-size: 100px;
color: white;
display: flex;


}

.two{
font-size: 100px;
color: white;
}

.three{
font-size: 100px;
color: white;
}

.four{
font-size: 100px;
color: white;
}

.portalLink{
  display: flex;
  align-content: center;
  justify-content: center;
}

.doofusRick{
  display: flex;
  justify-content: flex-start;
  
 
}

.managerRick{
  display: flex;
  justify-content: flex-start;
}

.mortyRick{
  display: flex;
  justify-content: flex-start;
}

.CitadelOfRick{
  display: flex;
  justify-content: flex-start;
}

.pictures{
  display: flex;
  justify-content: flex-start;
  height: 15em;
  width: 15em;
  justify-content: space-between;
  flex-direction: column;
}

.doofusPic{
  width: 25em;
  height: 15em; 

}