
body{
    background-image: url("https://i.pinimg.com/originals/37/92/6b/37926bce6c4afda728d5011c3ee9ea0a.jpg");
    background-size: 35em;
  
  } 

  .backgroundColor{
    background-color: black;
  }

 
  .portalOne{
    height: 10%;
  }