body {
  background-image: url("https://i.pinimg.com/originals/37/92/6b/37926bce6c4afda728d5011c3ee9ea0a.jpg");
  background-repeat: repeat;
}

.main{
font-size: 100px; 
color: white;
align-items: center;
}

.linkText{
  font-size: 50px;
  color: white;
}

.one{
font-size: 100px;
color: white;
}

.two{
font-size: 100px;
color: white;
}

.three{
font-size: 100px;
color: white;
}

.four{
font-size: 100px;
color: white;
}

.portalLink{
  
}

.doofusRick{

}

.managerRick{

}

.mortyRick{

}

.CitadelOfRick{

}