.display-4 {
    text-decoration: overline underline;
    font-style: oblique;
    color: white;
    background-color: purple;

}

body{
    background-image: url("https://www.azonano.com/images/Article_Images/ImageForArticle_4983(1).jpg");
    background: size 10%;
    
}

.cardextra {
    display: flex;
    justify-content: center;
    border-radius: 0px;
    padding: 1em;
    margin: 2em;
    width: 50em;
    align-content: center;


}

.EmailCSS{
    color: white;
    font-size: 1.5em;
}

.PasswordCSS{
    color: white;
    font-size: 1.5em;

}

.form-check-label{
    color: white;
    font-style: oblique;
}

.greatLines {
    color: white;
}

.white {
    color: white;
}

/* .mortyForm {
   
} */
.center {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
  }

.borderAttempt{
    border: 3px dashed green;
}